### Site settings
lang: en
title: "Your awesome title"
description: "Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description."
author: "Your name"
baseurl: ""
exclude: [ "README.md", "LICENSE" ]
url: "http://yourdomain.com"
hostname: "yourdomain.com"
#email: your-email@domain.com
#twitter_username: your_twitter_username
#github_username:  your_github_username
#google_analytics_id: UA-XXXXXXXX-XX
#google_site_verification: XXXXXXXXXXXXXXXXXXXXXXXXXXX
#google_custom_search_engine_id: "XXXXXXXX:XXXXXXXXXXXXXXXXXXX"
#disqus_shortname: your_disqus_shortname

### Build settings
permalink: "/blog/:year/:month/:day/:title/"
images_path: "/img/"
sass:
  style: :compressed
#markdown: kramdown
#gems: [jekyll-test-plugin, jekyll-jsonify, jekyll-assets]

### Appearance
appearance:
  theme: default
  ###
  ### Example to enable a wallpaper.
  ###
  #header_text_color: "brown"
  #header_image: none
  #wallpaper_image: /assets/themes/default/img/wallpaper.png
  #wallpaper_repeat: repeat

### Blog
paginate: 5
paginate_path: "blog/page:num/" # DON'T TOUCH THIS PATH.
blog:
  title: "Blog Title"
  description: "Blog description"
  title_position: article
  enable_author: true
  comment: true
  share: true
  category: true
  #sidearea:
  #  primary:
  #    widgets:
  #    - { widget: categories, caption: "Categories" }
  #    - { widget: recentposts, caption: "Recent Posts" }
  #    - { widget: subscribe, caption: "Subscribe" }
  #theme: blog

### Navigation Bar
navbar:
  menu:
    - caption: "Projects"
      menu:
        - { caption: "Creating Web pages", link: "#"}
        - { caption: "Something else here", link: "#"}
        - { separator: "divider" }
        - { caption: "miscellaneous", separator: "dropdown-header" }
        - { caption: "Downloads", link: "#"}
    - { caption: "Blog", link: "/blog/" }
    - { caption: "Documents", link: "/docs/" }
    - { caption: "Help", link: "/help/" }
    - { caption: "Sitemap", link: "/sitemap/" }
    - { caption: "About", link: "/about/" }

### Document collections
collections:
  docs:
    title: "Documents"
    description: "some description"
    output: true
    comment: true
    share: true
    #navigator: disable
    #sidearea:
    #  primary:
    #    widgets:
    #    - { widget: search, caption: "Search" }
    #    - { widget: free-area, name: menu, markdownify: true, realm: docs }
  help:
    title: "Help"
    output: true
