<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% if site.twitter_username %}
<script>
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
    js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>
{% endif %}
{% if page.layout == "document" %}
<script>
  $(document).ready(function () {
    for(var level = 1; level <= 6; level++) {
      $(".document h"+level).each(function () {
        var id = $(this).attr("id");
        if(typeof id !== "undefined" && id !== null) {
          $(this).prepend("<a name=\""+id+"\" href=\"#"+id+"\"></a>");
          $(this).attr("class","title");
        }
      });
    }
  });
</script>
{% endif %}