<div class="widgetwrapper">
{% for post in site.categories.highlight limit:9 %}
  <div class="row highlightbox">
  {% if post.image %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="{{ post.image | prepend:site.images_path }}" class="img-rounded img-responsive"  alt="{{ post.image_alt }}">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 caption">
      <h4>{{ post.title }}</h4>
      {{ post.content }}
    </div>
  {% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>{{ post.title }}</h4>
      {{ post.content }}
    </div>
  {% endif %}
  </div>
{% endfor %}
</div>
