{% include get-widget-data-and-options name="carousel" include=include %}
<div class="widgetwrapper widget-carousel">
<div id="carousel-gh_pages-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in widget_data %}
    <li data-target="#carousel-gh_pages-generic" data-slide-to="{{ forloop.index | minus:1 }}"{% if forloop.index == 1 %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for slide in widget_data %}
    <div class="item{% if forloop.index == 1 %} active{% endif %}">
      <img src="{{ slide.image | prepend:site.images_path }}" alt="First Slide">
      <div class="carousel-caption">
        {{ slide.caption }}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-gh_pages-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-gh_pages-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
